.layout-table-content {
  width: 100%;
  min-height: 250px;
  padding: 15px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
}
.layout-table-content .panel-header {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  box-sizing: content-box;
  padding: 5px;
  background: linear-gradient(to bottom, #F8F8F8 0, #eeeeee 100%);
  border: 1px solid #D3D3D3;
  font-size: 12px;
  font-weight: bold;
  color: #575765;
  height: 16px;
  line-height: 16px;
}
.layout-table-content .datagrid-toolbar {
  box-sizing: content-box;
  padding: 5px;
  border-bottom: 1px solid #ddd;
  color: #000000;
  font-size: 12px;
}
